@import 'variables.scss';

.main-container{
  min-height: 500px;

  .error-404{
    background: #FFF;
    padding: 50px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    color: $brand;
    svg{
      margin-bottom: 5px;
    }
    h1{
      font-size: 56px;
      color: $gray-dark;
    }
    h3{
      font-size: 26px;
      color: $gray-dark;
      margin-bottom: 20px;
    }
    .btn{
      &.btn-secondary{
        height: 100%;
        border-radius: 4px;
        background: #FFF;
        border: 1px solid $brand;
        color: $brand;
        font-weight: 600;
        font-size: 20px;
        min-width: 150px;

        &:hover{
          background: $brand;
          color: #FFF;
        }
      }
    }
  }
}