// Contains color palette for this app

$brand: #fc0000;
$black-paging: #333333;
$darkblue-paging: #1c71d3;
$gray-border: #eaeef5;
$gray-label: #81848e;
$gray-icon: #585f6a;
$gray-dark: #4f4f4f;
$gray-light: #AFAFAF;
$gray-lighter: #DFDFDF;
$gray-disabled-text: #b6b5be;
$red: #FC4848;
$green: #42b549;
$white: #ffffff;
$wolfgray-2: #A1A0AA;
$star: #FFD700;
